:root{
    --text: #0b1407;
    --background: #f7fbf4;
    --primary: linear-gradient(to right, #3d9900,#308503);
    --secondary: linear-gradient(#66ca34,#a7e588);
    --accent: #8fe364;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    height:100dvh;
    width: 100%;
    display:flex;
    flex-direction: column;
    background: var(--secondary);
}
header{
    height:5rem;
    font-size: 3rem;
    font-family: sans-serif;
    display:grid;
    align-items: center;
    padding-left:1rem;
    background: var(--primary);
}
.main{
    width:100%;
    flex:1;
    display:flex;
}
footer{
    height: 2rem;
    background: var(--accent);
    display:grid;
    place-content: center;
}
nav{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top:1rem;
    width:15rem;
}
nav a{
    text-decoration: none;  
    color:#114200
}
nav a:hover{
    color: #2e8c06;
}
nav a:active{
    color: #9ed397;
}
section{
    flex:1;
    padding:1rem;
    background: white;
    background: url(https://hips.hearstapps.com/hmg-prod/images/close-up-of-robin-bird-perched-on-a-stone-in-the-royalty-free-image-1755050541.pjpeg?crop=0.702xw:1.00xh;0.214xw,0&resize=980:*);
    background-size: cover;
    background-repeat: no-repeat;
}
